 html{
    background: black;
    color: white;
  }

 #player1,#player2 {
  width: 60px;
  height: 60px;
  position: relative;
  float:left;
  }

  .player1_up{
  background:  url('../images/redup.png') no-repeat 0 0%;
  }

  .player2_up {
  background:  url('../images/greenup.png') no-repeat 0 0%;
  }

  .player1_right{
  background:  url('../images/redright.png') no-repeat 0 0%;
  }

  .player2_right {
  background:  url('../images/greenright.png') no-repeat 0 0%;
  }

  .player1_down{
  background:  url('../images/reddown.png') no-repeat 0 0%;
  }

  .player2_down {
  background:  url('../images/greendown.png') no-repeat 0 0%;
  }

  .player1_left{
  background:  url('../images/redleft.png') no-repeat 0 0%;
  }

  .player2_left{
  background:  url('../images/greenleft.png') no-repeat 0 0%;
  }


  .animation
  {
  animation: try 1s steps(3) infinite ;
  animation-fill-mode: forwards;  
  }
  
  @keyframes try
  {
  0%{background-position: 0px 0px;}
  99%{background-position: -180px 0px;}
  100%{}
  }

  .clear{
  	clear:both;
  }

  #gameboard {
   height:560px;
   width:800px;
   background-image: url('../images/board.jpg');
   border: 1px solid white;
   position: relative;
   float: left;
   margin-left: 15px;
   margin-top: 10px;

   }

.corner
{
  float:left;
  height:120px;
  width:120px;
  
}
.horizontal
{
  float:left;
  height:120px;
  width:80px;
  
}
.vertical
{
  float:left;
  height:80px;
  width:120px;
  
}

.middle
{
  float:left;
  height:80px;
  width:560px;
  
}

#dialogdiv
  {
      display: none;
      border-radius: 5px;
      border: 1px solid #aaa;
      width: 300px;
      padding: 6px 8px 8px;
      box-sizing: border-box;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      color: white;
      font-weight: bold;
      background-color: #191919;
      font-family: verdana;
  }
  #dialogdiv button {
      background-color: #ccc;
      display: inline-block;
      border-radius: 3px;
      border: 1px solid #aaa;
      padding: 2px;
      text-align: center;
      width: 80px;
      cursor: pointer;
  }
  #dialogdiv button:hover
  {
      background-color: #ddd;
  }
  #confirmBox .message
  {
      text-align: left;
      margin-bottom: 8px;
  }

#playerboard {font-family: verdana;margin-left: 20px;float: left;margin-top: 10px;width: 230px;border: 1px solid #191919;background-color: #191919;text-align: center;}

#balance,#balance2 {width:230px;height:30px;overflow:hidden;}

#networth, #networth2 {width:230px;height:30px;overflow:hidden;}
#properties, #properties2 {width:230px;height:30px;overflow:hidden;}
#message, #message2,#commentary,#commentary2 {width:230px;height:45px;overflow:hidden;}

#commentary2{
  height:60px;
}

#networth2,#properties2,#message2,#balance2,#commentary2 {
    background-color: black;
    
}


.box
{
  border: 1px solid white;
  width: 49%;
  float: left;
  text-align: center;
}

#showPropertiesDialog
{
  display: none;
  border: 1px solid white;
  margin-right:185px;padding:0;overflow:hidden;resize:none;margin-top: 10px;
  width: 230px;
  height: 290px;
  clear: both;

}

#properties2 {
  text-decoration: underline;
  cursor: pointer;

}

#dice {
      font-size: 134px;
    /* height: 80px; */
    float: right;
    padding: 0px;
    margin: 0px;
    position: relative;
    left: 10px;
    top: -58px;
}
#dice:hover {
  cursor: pointer;
}

@font-face {
    font-family: Game of Thrones;
    src: url('Game of Thrones.ttf');
}